<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/resume.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/resume.png') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>
<body>
    <main class="container" id="resume">
        <header class="profileText">
            <h1>{{ data.fullname }}</h1>
        </header>

        <section class="contactInfo">
            <h2>Contact Info</h2>
            <ul>
                <li>
                    <a href="tel:{{ data.contactnumber }}" target="_blank">
                        <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <span class="text">{{ data.contactnumber }}</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:{{ data.email }}" target="_blank">
                        <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span class="text">{{ data.email }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ data.web }}" target="_blank">
                        <span class="icon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                        <span class="text">{{ data.web }}</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com/maps/place/{{ data.address }}" target="_blank">
                        <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span class="text">{{ data.address }}</span>
                    </a>
                </li>
            </ul>
        </section>

        <section class="profile">
            <h2>Career Objective</h2>
            <p>{{ data.obj }}</p>
        </section>

        <section class="education">
            <h2>Education</h2>
            <ul>
                {% for i in range(1, 100) %}
                {% if data['year' + i|string()] %}
                <li>
                    <p>{{ data['year' + i|string()] }}</p>
                    <p>{{ data['educLevel' + i|string()] }}</p>
                    <p>{{ data['school' + i|string()] }}</p>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </section>

        <section class="language">
            <h2>Languages</h2>
            <ul>
                {% for i in range(1, 100) %}
                {% if data['lang' + i|string()] %}
                <li>
                    <span class="text">{{ data['lang' + i|string()] }}</span>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </section>

        <section class="interest">
            <h2>Interests</h2>
            <ul>
                {% for i in range(1, 100) %}
                {% if data['inter' + i|string()] %}
                <li>
                    <span class="text">{{ data['inter' + i|string()] }}</span>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </section>

        <section class="work-experience">
            <h2>Work Experience</h2>
            {% for i in range(1, 100) %}
            {% if data['comyear' + i|string()] %}
            <div class="experience">
                <div class="year-company">
                    <p>{{ data['comyear' + i|string()] }}</p>
                    <p>{{ data['com' + i|string()] }}</p>
                </div>
                <div class="position-description">
                    <p>{{ data['compos' + i|string()] }}</p>
                    <p>{{ data['comdes' + i|string()] }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </section>

        <section class="skills">
            <h2>Professional Skills</h2>
            <div class="skill-list">
                {% for i in range(1, 100) %}
                {% if data['skill' + i|string()] %}
                <p>{{ data['skill' + i|string()] }}</p>
                {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>

    <button onclick="downloadPDF()">Download PDF</button>

    <script src="static/scripts/resume.js"></script>
</body>
</html>
