body {
    font-family: Arial, sans-serif;
    background-color: #d7ebd5;
    margin: 0px;
    padding: 0px;
}

form {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
}

h1 {
    font-size: 30px;
    color: #333;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

th {
    background-color: #f2f2f2;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    color: #333;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
}

label {
    margin-right: 10px;
}

button {
    background-color: #757575;
    color: #fff;
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #525552;
}

input[type="submit"] {
background-color: #4caf50; 
color: #fff; 
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #3d8c40;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
