/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

h4, h5 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

p, li {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Profile section */
.profileText {
    text-align: center;
    margin-bottom: 20px;
}

.profileText h1 {
    margin: 0;
}

/* Profile section */
.profile p {
    margin-bottom: 20px;
}

/* Contact Info section */
.contactInfo {
    margin-bottom: 20px;
}

.contactInfo ul {
    list-style: none;
    padding: 0;
}

.contactInfo li {
    margin-bottom: 10px;
}

.contactInfo a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contactInfo .icon {
    margin-right: 10px;
}

/* Education section */
.education ul {
    list-style: none;
    padding: 0;
}

.education li {
    margin-bottom: 10px;
}

/* Language section */
.language ul {
    list-style: none;
    padding: 0;
}

.language li {
    margin-bottom: 10px;
}

/* Interest section */
.interest ul {
    list-style: none;
    padding: 0;
}

.interest li {
    margin-bottom: 10px;
}

/* Work Experience section */
.work-experience .experience {
    margin-bottom: 20px;
}

.work-experience .year-company {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.work-experience .position-description p {
    margin: 5px 0;
}

/* Skills section */
.skills .skill-list {
    display: flex;
    flex-wrap: wrap;
}

.skills .skill-list p {
    background: #444;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

/* Media queries */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }
}
